# G360 - Stock Color Consolidator
# Copie este archivo como .env y complete sus valores locales
# (NO commitee .env, solo .env.example)

G360_S2_URL=http://appweb.cipsa.com.pe:9091/
G360_S2_USER=CCUSI
G360_S2_PASS=000000
